<!-- Masthead -->
<header class="masthead">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">What's Yur Code?</h1>
      <hr>
      <span class='element'></span>
    </div>
  </div>
  <div class="scroll-down">
    <a class="btn js-scroll-trigger" href="#about">
      <i class="fa fa-angle-down fa-fw"></i>
    </a>
  </div>
</header>
