<!-- Call to Action -->
<section class="call-to-action">
  <div class="container wow fadeIn">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <span class="quote">Fashion design is more than just making clothes. It's about
          <span class="text-primary">pushing boundaries</span>
          and creating something unique and exciting.</span>
        <hr class="colored">
        <!-- <a class="btn btn-primary js-scroll-trigger" href="#process">Learn Our Process</a> -->
      </div>
    </div>
  </div>
</section>
