<!-- services -->
  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">What We Do</h2>
          <hr class="primary">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
            <h3>Sturdy Templates</h3>
            <p class="text-muted">Our templates are updated regularly so they don't break.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-file-code-o text-primary sr-icons"></i>
            <h3>Code Editor Integration</h3>
            <p class="text-muted">Write code on our site with our text editor integration. Then submit it for a chance to have it printed on our shirt!</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-code text-primary sr-icons"></i>
            <h3>Real Code</h3>
            <p class="text-muted">Our apparel has unique code written by our developers!</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
            <h3>Helping People Code</h3>
            <p class="text-muted">Proceeds from your purchase will go towards teaching the next generation of coders!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
